.sideMenu {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: #ffffff;
  padding: 10px;
  height: 100vh;
  position: fixed;
}

.sideMenu img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  align-self: center;
}

.sideMenu ul {
  margin-top: 70px !important;
  margin-left: 20px !important;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sideMenu li {
  margin-bottom: 10px;
}

.sideMenu a {
  text-decoration: none;
  color: #8b8894;
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  display: block;
  padding: 5px 0;
  width: 100%;
}

@media (max-width: 768px) {
  .sideMenu {
    width: 200px;
  }

  .sideMenu img {
    width: 120px;
  }

  .sideMenu a {
    font-size: 18px;
  }
}
