.dashboard {
  display: flex;
  height: 100vh;
}

.sideMenu {
  width: 250px;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.mainContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 250px;
}

@media (max-width: 768px) {
  .sideMenu {
    width: 200px;
  }

  .mainContent {
    margin-left: 200px;
  }
}
