/* Overlay to center the form */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.formContainer {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Grid layout for color inputs */
.colorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two items per row */
  gap: 15px;
  margin-bottom: 20px;
}

.colorGrid label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.colorInputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
}

.colorInputWrapper input[type='color'] {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background: transparent;
}

.colorInputWrapper input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 6px;
}

.colorCode {
  color: #333;
  font-size: 14px;
  flex-grow: 1;
}

.uploadBoxContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.uploadBox {
  position: relative;
  width: 454px;
  height: 195px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.uploadText {
  color: #666;
  font-size: 16px;
  text-align: center;
}

.fileInput {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.uploadedImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.typographySection label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

input[type='text'] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelButton,
.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.cancelButton {
  background-color: #ddd;
  color: #333;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
}
