.dashboard {
  display: flex;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.topRow,
.middleRow,
.bottomRow {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
